{% extends "base.html" %}

{% block title %}
    My Accounts
{% endblock title %}
{% block content %}
    <main>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Number</td>
                    <td>Number of Receipts</td>
                </tr>
            </thead>
            <tbody>
                {% for item in myaccounts %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.number }}</td>
                        <td>{{ item.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
