a {
    text-decoration: none;
    color: #A3B18A
}

a:hover {
    color: #BC4749;
}

a:visited {
    color: #6A994E
}

body {
    margin: 0;
    padding: 0;
    font-family: "Dosis";
}

footer {
    padding-top: 48px;
    padding-right: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
    background-color: #A3B18A;
    font-size: medium;
}

header {
    background-color: #386641;
    border-bottom: 1px #BC4749;
    padding: 30px;
}

h1 {
    color: #386641;
}

img {
    height: 200px;
}

main {
    padding: 50px;
}
